

<div class="p-5 mb-4  rounded-3" style="background-color: #393939;">
      <div class="container-fluid py-5 text-white">
        <h1 class="display-5 fw-bold ">Area reservada para o Admin</h1>
        <p class="col-md-8 fs-4">Esta área oferece recursos para criar, editar e remover postagens e categorias dentro do sistema.</p>

        <div class="mt-5">
            <a href="admin/categoria"><button class="btn btn-primary mr-1">Lista de Categorias</button></a>
            <a href="admin/postagens"><button class="btn btn-primary">Lista de Postagens</button></a> 
        </div>
        
      </div>
</div>